body {
    height: 100vh;
    background-color:rgb(235, 252, 220);
}


/* -------------------------------------------------------------------------- */
/*Header section*/
/* -------------------------------------------------------------------------- */
header {
    background-color:rgb(32, 51, 32);
}


#neon {
    width: 300px;
}

ul, .links {
    list-style-type: none;
    text-decoration: none;
    gap: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
}

#push {
    margin-left: auto;
    margin: 0;
    width: 100%;
}


.mid-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0;
    gap: 10px;
    padding: 0 15px 15px 15px;
}

.right-mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}


/*Main content section*/

.content {

}

.section1 {
    display: flex;
}

h2 {
    text-align: center;
}

.section2 {
    text-align: center;
}

.section3 {
    display: flex;
    justify-content: center;
}

.join-me {
    display: flex;
}

/*footer*/ 

footer {
    text-align: center;
}