body {
    height: 100vh;
    width: 85%;
    background-color:rgb(235, 252, 220);
    font-family: Monaco, "Courier New", monospace;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px 0 20px;
}


/* -------------------------------------------------------------------------- */
/*Header section*/
/* -------------------------------------------------------------------------- */
header {
    background-color:rgb(32, 51, 32);
}


#neon {
    width: 300px;
}

ul, .links {
    list-style-type: none;
    text-decoration: none;
    gap: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
}

#push {
    margin-left: auto;
    margin: 0;
    width: 100%;
}


.mid-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 10px;
    padding: 0 15px 15px 15px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.right-mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 300px;
    width: 350px;
}


/*Main content section*/

.content {
}

.section1, .section3 {
    background-color: rgb(243, 234, 234);
}

.section1 {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 40px;
}

h2 {
    text-align: center;
    background-color: rgb(243, 234, 234);
    margin: 0;
    padding-top: 30px;
}

figure {
    margin: 0;
    text-align: center;
}

.round {
    border: 8px double rgb(161, 51, 88);
    border-radius: 30px;
    height: 150px;
    width: 170px;
}

.fit {
    object-fit: cover;
}

.section2 {
    background-color: rgb(146, 140, 140);
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    width: 70%;
    padding: 30px;
    font-size: 30px;
    font-weight: 100;
    font-style: italic;
    text-align: center;
}

.section3 {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.join-me {
    display: flex;
}

/*footer*/ 

footer {
    text-align: center;
}